:root{
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
    font-size: 16px;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px;
}
.attribution a { color: hsl(228, 45%, 44%); }

.card{
    background-color: #202731;
    padding: 35px;
    /*margin-top: 200px;*/
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}



.active{
    display:none;
}

.rating-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rating-section .icon-star img{
    height: 100%;
    padding: 15px;
    background-color: #282D37;
    border-radius: 100%;
    margin-bottom: 15px;
}

.description{
    color:var(--LightGrey) ;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.rating{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.rating span{
    padding: 20px;
    background-color: #282D37;
    border-radius: 100%;
    cursor: pointer;
    color:var(--LightGrey) ;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span:hover{
    background-color: var(--Orange);
    color: var(--White);
}
span.clicked{
    background-color: var(--Orange);
    color: var(--White);

}
button{
    width: 100%;
    margin-top: 30px;
    padding:15px;
    border-radius: 20px;
    border-color: var(--Orange);
    background-color: var(--Orange);
    font-size: 20px;
    font-weight: 700;
    color: var(--White);
    cursor: pointer;
}

button:hover{
    color:var(--Orange) ;
    background-color:var(--White) ;
    border-color: var(--White);
}

.thanks-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.rating-notice{
    padding: 10px 20px;
    background-color: #282D37;
    color: var(--Orange);
    margin: 20px;
    border-radius: 20px;
    /*display: flex;*/
    width: fit-content;
    display: block;
}

.hidden{
    display: none;
}